<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">PM account activation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<p th:text="#{email.activation.greeting(${user.getFirstName()})}">
    Dear
</p>
<p th:text="#{email.activation.text1}">
    Your PMS account have a project invitation. Click url below to access it:
</p>
<p>
    <a th:href="${baseUrl}+ '/user-invitation'"
       th:text="${baseUrl}+ '/user-invitation'">Activation Link</a>
</p>
<p>
    <span th:text="#{email.activation.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.signature}">PM Team.</em>
</p>
</body>
</html>
